<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias alias="recipedto" type="com.koreait.app.recipe.dao.RecipeDTO"/>
  	<typeAlias alias="userdto" type="com.koreait.app.member.dao.UserDTO"/>
  	<typeAlias alias="boarddto" type="com.koreait.app.board.dao.BoardDTO"/>
  	<typeAlias alias="replydto" type="com.koreait.app.board.dao.ReplyDTO"/>
  	<typeAlias alias="filedto" type="com.koreait.app.board.dao.FileDTO"/>
  	<typeAlias alias="recipeStepdto" type="com.koreait.app.recipe.dao.RecipeStepDTO"/>
  	
  	
  	
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="web"/>
        <property name="password" value="web"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/koreait/sql/recipe.xml"/>
    <mapper resource="com/koreait/sql/member.xml"/>
    <mapper resource="com/koreait/sql/board.xml"/>
    <mapper resource="com/koreait/sql/file.xml"/>
    
  </mappers>
</configuration>













